<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/login.css}">
    <style>
        .message { color: green; text-align: center; }
        .error { color: red; text-align: center; }
    </style>
</head>
<body>

<div class="container">
    <div class="form-box">

        <h2 class="title">🔐 Forgot Password</h2>
        <p class="subtitle">Enter your email to receive OTP</p>

        <!-- MESSAGE -->
        <p th:if="${message}" class="message" th:text="${message}"></p>
        <p th:if="${error}" class="error" th:text="${error}"></p>

        <!-- FORM -->
        <form th:action="@{/send-otp}" method="post">

            <input type="email"
                   name="email"
                   placeholder="Enter your email"
                   required>

            <button type="submit">Send OTP</button>

        </form>

        <p class="register-text">
            Back to Login?
            <a th:href="@{/}">Login</a>
        </p>

    </div>
</div>

</body>
</html>